body {
    background-color: #ffffff;
}

a:hover {
    cursor: pointer;
}

.global-font {
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    color: #333333;
}

h1.site-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

footer {
    border-top: 1px solid #AFAFAF;
    padding: 15px;
    margin: 0 -15px;
}

header {
    border-bottom: 1px solid #AFAFAF;
    margin: 0 -15px;
    padding: 15px;
}

.profile-title {
    display: block;
    font-family: 'Titillium Web', sans-serif;
}

.showcase-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
}

.page-body {
    margin: 0 -15px !important;
    padding: 15px 0 !important;
    background-color: #f9f9f9;
    border-top: 5px solid #ededed;
    border-bottom: 5px solid #ededed;
}

